{#
/**
 * @file
 * Default theme implementation for rendering document list in admin data page
 *
 *
 * Available items:
 *   id (int) 
 *   url (string)
 *   extension (sting)
 *   ico (string) icon class
 *   doc (string)
 *   date
 *   size
 *   del_button
 *   share_button
 *   comment (string)
 *
 *
 * @see ek_admin_docs_view
 *
 * @ingroup themeable
 */
#}

{% for key, item in items %}

    {% if item.fid == 1 %}
        <tr id='ad{{ item.id }}'>
            <td><div class='icon_doc_list {{ item.ico }}'/></td>
            <td title='{{ item.doc }} | {{ item.size }}'>
                {% if item.url != '0' %}
                    <a href="{{ item.url }}" target='_blank' >{{ item.doc }}</a>
                {% else %}
                    <a href="#ad{{ item.id }}" >{{ item.doc }}</a>
                    {% endif %}
                
            </td>
            <td>{{ item.date }}</td>
            <td>{{ item.comment }}</td>
            {% if item.del_button != '0' %}
                <td style="text-align: center;">
                    <a id='sd{{ item.id }}' href="{{ item.del_button }}" class='use-ajax red' title={{'delete the file'|t }} >
                        <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i></a></td>
            {% else %}
                <td style="text-align: center;"><i class="fa fa-lg fa-trash" aria-hidden="true"></td>
            {% endif %}

            {% if item.share_button != '0' %}
                <td style="text-align: center;"><a href="{{ item.share_button }}" class='use-ajax red' title={{'manage access by users'|t }} >
                        <i class="fa fa-lg fa-lock" aria-hidden="true"></i></a></td>
                    {% else %}
                <td style="text-align: center;"><i class="fa fa-lg fa-lock" aria-hidden="true"></i></td>
            {% endif %}

            
        </tr>
    {% else %}
        <tr class="hide">
            <td><div class='icon_doc_list {{ item.ico }}'/></td>
            <td>
               {{ item.doc }}
            </td>
            <td>{{ item.date }}</td>
            <td>{{ item.comment }}</td>
            <td style="text-align: center;"><i class="fa fa-lg fa-trash-o" aria-hidden="true"></td>
            <td></td>
            
        </tr>
    {% endif %}

{% endfor %}

