{#
/**
* @file
* The default e-mails for cron task check in ek_admin.
*/
#}
<style type="text/css">
    table {
        width:800px;
        cellpadding:0;
        cellspacing:0;
        padding-left:10px;
    }    
    table tr td {
        font-family: Arial;
    }

</style>
<table width="800px" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td style='font-size:1.5em;padding:20px;vertical-align: bottom;'>{{ message.options.site }}</td>
            <td ><img class="img-responsive" style="width:130px;float:right;" src="{{ message.options.logo }}" />
            </td>
        </tr>
    </tbody>
</table>
<hr/>

<p style="font-size: 12px;color:#5a5959;">
    {{ 'Dear'|t }} {{ message.options.name }}, {{ 'this is an automated alert about task assigned to you'|t }} :
</p>

<table width=70% border=0>
    <tr>
        <td style="background-color:#fff0c8;">{{ 'Document reference'|t }}:</td>
        <td><a href='{{ message.options.link}}'>{{ message.options.serial }}</a></td>
    </tr>
    <tr>
        <td style="font-size: 12px;">{{ 'Task assigned to'|t }}:</td>
        <td>{{ message.options.assign_name }}</td>
    </tr>
    <tr>
        <td style="font-size: 12px;color:#5a5959;">{{ 'To do'|t }}:</td>
        <td><strong>{{ message.options.task }}</strong></td>
    </tr>
    <tr>
        <td  style="font-size: 12px;color:#5a5959;">{{ 'deadline'|t }}:</td>
        <td><strong>{{ message.options.end }}</strong></td>
    </tr>
    <tr>
        <td colspan='2'>
            <a href='{{ message.options.alert }}'>{{ 'Edit this alert'|t }}</a></td>
    </tr>
</table>

<hr/>
<p style='font-size:0.8em;'>{{ message.options.stamp }}</p>


</div>
<br/>
<br/>
<div style='font-size:0.7em;color:#818181;'>
    <i>Management solution by <a href="http://ek.arrea-systems.com">EK</a></i>
</div>