<div id="line{{ items.id }}">
    <table>
        <tbody>
            <tr>
                <td>
                    <span class='badge'>{{ 'From'|t }} : </span> 
                </td>
                <td>
                    <h1>{{ items.from }}</h1>
                </td>
            </tr>
            <tr>      
                <td>
                    <span class='badge'>{{ 'Subject'|t }} : </span>
                </td>
                <td>
                    <h1><i class="fa fa-circle {{ items.color }}" aria-hidden="true"></i> {{ items.subject }}</h1>
                </td>        
            </tr>
            <tr>    
                <td>
                    <span class='badge'>{{ 'Received'|t }} : </span>
                </td>
                <td>
                    {{ items.time }}
                </td>        
            </tr>
            <tr>
                <td colspan='2'>
                    <span class='badge'>{{ 'Message'|t }} :</span>
                </td>

            </tr>
        </tbody>
    </table>
    <br/>
    <div class="table">
        <div class='row'>
            <div class="cell message">
                {{ items.text|raw|nl2br }}
            </div>
        </div>
    </div>
    <br/>        
</div>

<hr>

<table>
    <tbody>
        <tr>
            <td><span class='fa fa-reply'></span> {{ items.reply|raw }}</td>
            <td><span class='fa fa-paper-plane-o'></span> {{ items.send|raw }}</td>
            <td><span class='fa fa-inbox'></span> {{ items.inbox|raw }}</td>
            <td><span class='fa fa-folder'></span> {{ items.archive|raw }}</td>
            <td><span class='fa fa-times red'></span> {{ items.delete|raw }}</td>
        </tr>


    </tbody>

</table>