<div>
    <p><strong>{{ 'File'|trans }}:</strong> <a target="_blank" href="{{ items.url }}">{{ items.filename }}</a></p><br/>
    <p><strong>{{ 'Type'|trans }}:</strong> {{ items.filetype }} &nbsp <img src="../../{{ items.icon }}"/></p><br/>
    <p><strong>{{ 'Size'|trans }}:</strong> {{ items.size }}</p><br/>
    <p><strong>{{ 'Date'|trans }}:</strong> {{ items.date }}</p><br/>
    <p><strong>{{ 'Uploaded by'|trans }}:</strong> {{ items.owner }}</p><br/>
    <p><strong>{{ 'Foder'|trans }}:</strong> {{ items.folder }}</p><br/>
    <p><strong>{{ 'Comment'|trans }}:</strong> {{ items.comment }}</p><br/>
    {% if items.access %}
        <ul>
            <strong>{{ 'Access granted to'|trans }}:</strong>
            {% for key, item in items.access %}
                {% if item.avatar %} 
                    <li><img class="avatar" src="{{ item.avatar }}"/> {{ item.name }}</li>
                    {%  else %}
                    <li>{{ item.name }}</li>
                    {% endif %}
                {%  endfor  %}

        </ul>
    {% endif %}
    {% if items.linked %}
        {{ items.move_file }}
        {% endif %}
        
    {% if items.attach_file %}
        <div>{{ items.attach_file }}</div>
        {% endif %}    
    
</div>