<section class="address_book_card">

    <div class='button' style='float:right;'><span class="ico search"></span>{{ items.search }}</div><br/>

    <div class="address_book_card-data">
        <div class='table'>
            <div class='row'>
                <div class='cell'><span class="ico pencil"></span>
                    ({{ 'last edit'|t }} {{ items.stamp }})</div>
                <div class='cell'></div>
            </div>
        </div>
        <div class='table'>
            <div class='row'>
                <div class='cell cellborder'>
                    <h2> {{items.name }} </h2>
                </div>
                <div class='cell'>
                    <img class="" style="width:50px;" alt="logo" src="{{ items.logo_url }}"/>
                </div>
            </div>
            <div class='row'>
                <div class='cell'>
                    {{ items.shortname }}
                </div>
                <div class='cell'>
                    {# righ column #}
                </div>
            </div>
            <div class='row'>


                <div class='cell'>
                    {# righ column #}
                    <h2><span class="ico map-marker"></span> {{ 'Address'|t }}</h2>
                    <table>
                        <tr>
                            <td> {{ items.address }} </td><td></td>
                        </tr> 
                        <tr>
                            <td> {{ items.address2 }} </td><td> {{ items.country }}</td>
                        </tr>  
                        <tr>
                            <td> {{ items.postcode }} </td><td> {{ items.city }}</td>
                        </tr> 
                    </table>

                    <hr>
                    <h2><span class="ico phone"></span> {{ 'Contact'|t }}</h2>
                    <table>    
                        <tr>
                        </tr>    
                        <tr>
                            <td>{{ 'Tel'|t }} {{ items.telephone }}</td>
                            <td>{{ 'Fax'|t }} {{ items.fax }}</td>
                        </tr> 
                        {% if items.website != '' %}
                            <tr>
                                <td> {{ items.website }} </td><td></td>
                            </tr>    
                        {% endif %}
                    </table>

                </div>
                <div class='cell'>
                    <table>
                        <tr>
                            <td><span class='badge'>{{ 'Status'|t }}: </span></td><td>{{ items.status }}</td>
                        </tr>
                        <tr>
                            <td><span class='badge'>{{ 'Tags'|t }}:</span></td><td>{{ items.activity }}</td>
                        </tr>
                        <tr>
                            <td><span class='badge'>{{ 'Type'|t }}:</span></td><td>{{ items.type }} {{ items.clone }}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>


    </div>

    <hr>

    <div class="address_book_card-contacts">

        <div class='table'>
            <div class='row'>
                <div class='cell' ><h2><span class="ico users"></span> {{ 'Name cards'|t }}</h2></div>  
                <div class='text-right cell' ><span class='button'><span class="ico plus"></span>{{ items.add }}</div>
            </div></div><br/>

        {% for item in items.contacts %}

            <div class="panel panel-default">

                <div class="panel-heading"><a href='#{{ item.id }}'  onclick="jQuery('#{{ item.id }}').toggle();">
                        <h3 class="panel-title">{{ item.salutation }} {{ item.contact_name }}</h3></a>

                </div>

                <div class="panel-body" id="{{ item.id }}">
                    <table>
                        <tr>
                            <td><span class="ico user"></span><span> | </span><span>{{ item.contact_name }}</span></td>
                            <td ></td>
                        </tr>
                        <tr>
                            <td><span class="ico briefcase"></span><span> | </span><span>{{ item.title }}</span></td>
                            <td rowspan='6' style='text-align:center;width:40%;' >{{ item.card|raw }}</td>
                        </tr>
                        <tr>
                            <td><span class="ico tag"></span><span> | </span><span>{{ item.department }}</span></td>

                        </tr>         
                        <tr>
                            <td><span class="ico phone"></span><span> | </span><span>{{ item.telephone }}</span></td>
                        </tr>  
                        <tr>
                            <td><span class="ico mobile"></span><span> | </span><span>{{ item.mobilephone }}</span></td>
                        </tr>   
                        <tr>
                            <td><span class="ico envelope"></span><span> | </span><span>{{ item.email }}</span></td>
                        </tr>  
                        <tr>
                            <td><span class="ico link"></span><span> | </span><span>{{ item.link }}</span></td>
                        </tr>       
                        <tr>
                            <td><span class="ico comment"></span><span>  </span><span>{{ item.comment }}</span></td>
                            <td><center><span class="ico file-pdf"> {{ item.pdf }}</center></td>
                        </tr>                  
                    </table>
                </div>
            </div>
            <br/>
        {% endfor %}
    </div>

</section>