<section class="address_book_card">

    <div class='button' style='float:right;'><span class="ico search"></span>{{ items.search }}</div><br/>

    <div class="address_book_card-data">
        <div class='table'>
            <div class='row'>
                <div class='cell'><span class="ico pencil"></span>
                    ({{ 'last edit'|t }} {{ items.stamp }})</div>
                <div class='cell'></div>
            </div>
        </div>
        <div class='table'>
            <div class='row'>
                <div class='cell cellborder'>
                    <h2 id="name">{{ items.name }}</h2>
                </div>
                <div class='cell'>
                     {% if items.logo_url != '' %}
                        <img class="" style="width:40px;" alt="logo" src="{{ items.logo_url }}"/>
                    {% endif %}
                </div>
            </div>
            <div class='row'>
                <div class='cell {{ items.type }}'>
                    
                </div>
                <div class='cell'>
                    {# righ column #}
                </div>
            </div>
            <div class='row'>
                <div class='cell '>
                    {{ items.shortname }}
                </div>
                <div class='cell'>
                    {# righ column #}
                </div>
            </div>
            <div class='row'>


                <div class='cell'>
                    {# righ column #}
                    <h2><span class="ico map-marker"></span><span class=" clipboard_add">{{ 'Address'|t }}</span><span class="copy copyAdd">copied to clipboard</span></h2>
                    <table>
                        <tr>
                            <td id="address1">{{ items.address }}</td><td id="state">{{ items.state }}</td>
                        </tr> 
                        <tr>
                            <td id="address2">{{ items.address2 }}</td><td id="country">{{ items.city }}</td>
                        </tr>  
                        <tr>
                            <td id="postcode">{{ items.postcode }}</td><td id="city">{{ items.country }}</td>
                        </tr> 
                    </table>

                    <hr>
                    <h2><span class="ico phone"></span>{{ 'Contact'|t }}</h2>
                    <table>    
                        <tr>
                        </tr>    
                        <tr>
                            <td>{{ 'Tel'|t }} {{ items.telephone }}</td>
                            <td>{{ 'Fax'|t }} {{ items.fax }}</td>
                        </tr> 
                        {% if items.website != '' %}
                            <tr>
                                <td><a href="http://{{ items.website }}" target="_blank">{{ items.website }}</a></td>
                                <td></td>
                            </tr>    
                        {% endif %}
                    </table>

                </div>
                <div class='cell'>
                    <table>
                        <tr>
                            <td><span class='badge'>{{ 'Reg. number'|t }}: </span></td><td  id="regnumber">{{ items.reg }}</td>
                        </tr>
                        <tr>
                            <td><span class='badge'>{{ 'Status'|t }}: </span></td><td  id="astatus">{{ items.status }}</td>
                        </tr>
                        <tr>
                            <td><span class='badge'>{{ 'Tags'|t }}:</span></td><td id="atags">{{ items.activity }}</td>
                        </tr>
                        <tr>
                            <td><span class='badge'>{{ 'Type'|t }}:</span></td><td id="atype">{{ items.type }} {{ items.clone }}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>


    </div>

    <hr>

    <div class="address_book_card-contacts">

        <div class='table'>
            <div class='row'>
                <div class='cell' ><h2><span class="ico users"></span> {{ 'Name cards'|t }}</h2></div>  
                <div class='text-right cell' ><span class='button'><span class="ico plus"></span>{{ items.add }}</div>
            </div></div><br/>

        {% for item in items.contacts %}

            <div class="panel panel-default">

                <div class="panel-heading"><a href='#{{ item.id }}'  onclick="jQuery('#{{ item.id }}').toggle();">
                        <h3 class="panel-title"><span id="salutation{{ item.id }}">{{ item.salutation }}</span> 
                            <span id="card{{ item.id }}">{{ item.contact_name }}</span></h3></a>

                </div>

                <div class="panel-body" id="{{ item.id }}">
                    <table>
                        <tr>
                            <td>
                                <span class="ico user"></span>
                                <span> | </span><span id="{{ item.id }}" class="clipboard_name">{{ item.contact_name }}<span id="copy{{ item.id }}" class="copy">copied to clipboard</span></span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><span class="ico briefcase"></span><span> | </span><span>{{ item.title }}</span></td>
                            <td rowspan='6' style='text-align:center;width:40%;' >
                                {% if item.card_ != '' %}
                                    <a href='modal/nojs/{{ item.id }}' class='use-ajax'>
                                       <img style="width:50%" src="{{ item.card }}"></a>
                                {% else %}
                                    <span class="ico namecard fa-5x"></span>
                                {% endif %}
                                
                                
                                </td>
                        </tr>
                        <tr>
                            <td><span class="ico tag"><span> | </span><span>{{ item.department }}</span></td>

                        </tr>         
                        <tr>
                            <td><span class="ico phone"></span><span> | </span><span>{{ item.telephone }}</span></td>
                        </tr>  
                        <tr>
                            <td><span class="ico mobile"></span><span> | </span><span>{{ item.mobilephone }}</span></td>
                        </tr>   
                        <tr>
                            <td><span class="ico envelope"></span><span> | </span><span>{{ item.email }}</span></td>
                        </tr>  
                        <tr>
                            <td><span class="ico link"></span><span> | </span><span>{{ item.link }}</span></td>
                        </tr>       
                        <tr>
                            <td><span class="ico comment"></span><span>  </span><span>{{ item.comment }}</span></td>
                            <td><center><span class="ico file-pdf"> {{ item.pdf }}</center></td>
                        </tr>                  
                    </table>
                </div>
            </div>
            <br/>
        {% endfor %}
    </div>

</section>
  
    