<section class="assets_card">

    <div class="assets_card-data">
        <div class="text-right"><a href="pdf/{{ items.id }}" target="_blank">{{ 'Print in Pdf'|t }}</a></div>

        <div class='table'>
            <div class='row'>
                <div class='cell200 text-left'>
                    <p class='badge'>{{ 'ID'|t }}: {{ items.id }}</p>
                </div>
                <div class='cell300 text-center'>
                    {{ items.picture|raw}}
                </div>
                <div class='cell200 text-right'>
                    {{ items.qr_code_svg|raw }}
                </div>
                
            </div>
        </div>
                <hr>
        <div class='table'>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Registered under'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.company_name }}
                </div>
            </div>

            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset name'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.asset_name }}
                </div>
            </div>

            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset brand'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.asset_brand }}
                </div>
            </div>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset reference'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.asset_reference }}
                </div>
            </div>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset quantity'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.unit }}
                </div>
            </div>  
            <div class='row'>
                <div class='cell300'>
                    {{ 'Description'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.asset_comment }}
                </div>
            </div> 
            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset category'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.aid }} {{ items.aname }}
                </div>
            </div>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset value'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.asset_value }} {{ items.currency }}
                </div>
            </div> 
            <div class='row'>
                <div class='cell300'>
                    {{ 'Purchase date'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{  items.date_purchase }}
                </div>
            </div>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Amortization rate'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.amort_rate }}
                </div>
            </div>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Amortization value'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.amort_value }}
                </div>
            </div>                  
            <div class='row'>
                <div class='cell300'>
                    {{ 'Amortization per year'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.amort_yearly }}
                </div>
            </div>                  
            <div class='row'>
                <div class='cell300'>
                    {{ 'Amortization status'|t }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.amort_status }}
                </div>
            </div>
            {% if items.eid %}     
                <div class='row'>
                    <div class='cell300'>
                        {{ 'Allocated'|t }}:
                    </div>
                    <div class='cell300 cellborder'>
                        <a href="{{ items.eurl }}">{{ items.eid }} | {{ items.employee }}</a>
                    </div>
                </div>                     
            {% endif %}             
        </div>



    </div>      



</section>