{#
/**
 * @file
 * Default theme implementation for rendering dashboard widget.
 *
 *
 * Available items:
 *   - title.
 *   - content.
 *   - footer. 
 *
 * @ingroup themeable
 */
#}


      <div class="widget">
        
        <div class="widget-title"><a href='#s0'  onclick="jQuery('#{{ items.id }}').toggle('fast');">
          <h4 class="">{{ items.title }}</h4></a>
        </div>
        
        <div class="widget-content"  style='' id="{{ items.id }}">
       
        
            <table>
                <thead>
                    <tr>
                        <th>{{ 'Past due amortization records'|t }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ items.content.due|raw }}
                        </td>
                    </tr>
                </tbody>
            </table>
        
            <table>
                <thead>
                    <tr>
                        <th>{{ 'Next scheduled records'|t }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ items.content.next|raw }}
                        </td>
                    </tr>
                </tbody>
            </table>        
        
        </div>
        
        <div class="widget-footer">
              {{ items.footer }} 
        </div>
      
      </div>

