<section class="assets_card">

    <div class="assets_card-data">
        <div class=""><a href="{{ items.list }}" >{{ 'List'|trans }}</a></div>
        <div class="text-right"><a href="pdf/{{ items.id }}" target="_blank">{{ 'Print in Pdf'|trans }}</a></div>

        <div class='table'>
            <div class='row'>
                <div class='cell200 text-left'>
                    <p class='badge'>{{ 'ID'|trans }}: {{ items.id }}</p>
                </div>
                <div class='cell300 text-center'>
                    <a href='{{ items.picture }}' target='_blank'>
                    <img class='medium' src='{{ items.picture }}'></a>
                    
                </div>
                <div class='cell200 text-right'>
                    {{ items.qr_code_svg|raw }}
                </div>
                
            </div>
                <div class='row'>
                    {% if items.doc %}
                        {{ 'Attachment'|trans }} : <a href='{{ items.doc_url}}' target='_blank' >{{ items.doc }}</a>
                        {% endif %}
                </div>
        </div>
        <hr>
        <div class='table'>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Registered under'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.company_name }}
                </div>
            </div>

            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset name'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.asset_name }}
                </div>
            </div>

            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset brand'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.asset_brand }}
                </div>
            </div>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset reference'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.asset_ref }}
                </div>
            </div>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset quantity'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.unit }}
                </div>
            </div>  
            <div class='row'>
                <div class='cell300'>
                    {{ 'Description'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.asset_comment }}
                </div>
            </div> 
            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset category'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.aid }} {{ items.aname }}
                </div>
            </div>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Asset value'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.asset_value }} {{ items.currency }}
                </div>
            </div> 
            <div class='row'>
                <div class='cell300'>
                    {{ 'Purchase date'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{  items.date_purchase }}
                </div>
            </div>
            <div class='row'>
                <div class='cell300'>
                    {{ 'Amortization terms'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.term }} {{ items.term_unit }} 
                </div>
            </div>     
            <div class='row'>
                <div class='cell300'>
                    {{ 'Amortization status'|trans }}:
                </div>
                <div class='cell300 cellborder'>
                    {{ items.amort_status }}
                </div>
            </div>
            {% if items.eid %}     
                <div class='row'>
                    <div class='cell300'>
                        {{ 'Allocated'|trans }}:
                    </div>
                    <div class='cell300 cellborder'>
                        <a href="{{ items.eurl }}">{{ items.eid }} | {{ items.employee }}</a>
                    </div>
                </div>                     
            {% endif %}             
        </div>



    </div>      



</section>