<div>
{{ items.form }}
</div>

<div class="right">{{ items.pdf|raw }}</div>

<div>{{ items.table_5|raw }}</div>

<table>
    <tr>
        <td rowspan='2' style='vertical-align:top;width:50%;'>
            {{ items.table_1|raw }}
            {{ items.table_3|raw }}
        </td>
        <td rowspan='2' style='vertical-align:top'>
            {{ items.table_4|raw }}
            {{ items.table_2|raw }}
        </td>
    </tr>
    
</table>
        
<br/>
{{ items.post|raw }}






