<section class="filter">

{{ items.filter_ledger }}

</section>

{{ items.excel|raw }}
{% if items.excel %}<a href='#'><div class='toggle_exchange' style='float:right'>[-]</div></a>{% endif %}
<section class="journal">

  {# loop 1 table by account id displayed #}
  {% for keys, lines in items.data.ledger.accounts %}
      
    {% set flag_exchange = 0 %}
    {% set ledger = lines.line %}
          <table style='text-align: left; width: 90%;' id='' class='' >
            <thead class=''>
                <tr class='' style='font-weight: bold;'>
                  <td style="width: 10%;">
                    <div>
                      <div id='' class='' ></div>
                      <div style='display:inline;'>{{ items.data.baseCurrency }}</div>
                    </div>
                  </td>
                  <th style="width: 15%;">{{ 'Entry'|t }}</th>
                  <th align=center  style="width: 34%;">{{ 'Description'|t }}</th>
                  <th></th>
                  <th style="width: 18%;" align=center>{{ 'Debit'|t }}</th>
                  <th style="width: 18%;" align=center>{{ 'Credit'|t }}</th>
                  <th style="width: 5%;" title="{{ 'reconciled'|t }}">{{ 'Status'|t }}</th>
                  </tr>
             </thead>
            {# account description #}
             <tbody>
                <tr class=''>
                    <td colspan='7'><b>{{ lines.line.total.aid }} - {{ lines.line.total.aname }}</b></td>  

                </tr>
                <tr class=''>
                  <td colspan='7'>
                      <span id=''>{{ 'opening'|t }} </span>
                      {{ lines.line.total.balance_open | number_format(2) }}
                      ( {{ lines.line.total.balance_open_base | number_format(2) }} {{ items.data.baseCurrency }} )
                  </td>
                </tr>
                
            {# loop rows of journal entry per account #}
            {% for key,row in ledger %}


                {% if  key != "total"  %} 

                    <tr class="{% if row.exchange == 1 %}journal-exchange{% else %} {% endif %}">
                      <td>{{ row.date }}</td>
                      <td>{{ row.id  }} - {{ row.count  }}</td>
                      <td>
                        <span title='{{ row.source }}'>{{ row.reference }}</span> 
                        <span class=''>{{ row.comment }}</span>
                      </td>
                    {% if row.exchange == 1 %}
                      {% set flag_exchange = 1 %}
                      <td  class=''>{% trans %} exchange {% endtrans %}</td>
                      {% else %} <td class='' >{{ row.currency }}</td>
                        {% endif %}

 {#align values on left or right column based on Dt/Ct#}
                    {% if row.type == "debit" %}
                      <td  class='right'>{{  row.value  }}</td><td></td>

                      {% else %}
                        <td  ></td><td class='right'>{{  row.value  }}</td>
                        {% endif %}
{#indicate reconciliation status#}                      
                    {% if row.reconcile == "1" %}  
                      <td  class='center'>{{ 'Y' }}</td>

                      {% else %}
                        <td class='center'>{{ 'N' }}</td>
                        {% endif %}                      
                    </tr> 

                {% elseif key == 'total' %}                
                {#total#}
                      <tr class=''>
                        <td colspan='4'>
                          <span id=''>{{ 'Total period (local currency)'|t }}</span>
                        </td>
                        <td class='journal-total right' >{{  row.sum_debit | number_format(2) }}</td>
                        <td class='journal-total right'>{{  row.sum_credit | number_format(2) }}</td><td></td>
                      </tr>

                      {% if flag_exchange == 1 %}
                        <tr class=''>
                          <td colspan='4'>
                            <span id=''>{% trans %} Total {% endtrans %} </span>
                             {{ items.data.baseCurrency }}
                          </td>
                          <td class='right'>
                          {{  (row.sum_debit+row.sum_debit_exchange) | number_format(2) }}
                          </td>
                          <td class='right'>
                          {{  (row.sum_credit+row.sum_credit_exchange) | number_format(2) }}
                          </td>
                          <td></td>
                        </tr>
                      {% endif %}


                            {% if row.account == "-" %}
                            {#debtor account#}

                              <tr class='journal-closing'>
                                <td colspan='4'><span id=''>{{ 'Closing (local currency)'|t }}</span></td>
                                <td  class='right journal-total'>{{  row.closing | number_format(2) }}</td><td ></td> <td></td>
                              </tr>

                               {% if flag_exchange == 1 %}
                                <tr class='journal-closing'>
                                  <td colspan='4'><span id=''>{{ 'Closing'|t }}</span> {{ items.data.baseCurrency }} </td>
                                  <td  class='right journal-total'>{{  row.closing_exchange | number_format(2) }}</td><td ></td> <td></td>
                                </tr>
                               {% endif %}

                            {% else %}
                            {#creditor account#}

                              <tr class='journal-closing'>
                                <td colspan='4'><span id=''>{{ 'Closing (local currency)'|t }}</span></td>
                                <td ></td>
                                <td class='right journal-total'>{{  row.closing | number_format(2) }}</td> <td></td>
                              </tr>

                                {% if flag_exchange == 1 %}
                                <tr class='journal-closing'>
                                  <td colspan='4'><span id=''> {{ 'Closing'|t }}</span> {{ items.data.baseCurrency }} </td>
                                  <td ></td><td  class='right journal-total'>{{  row.closing_exchange | number_format(2) }}</td> <td></td>
                                </tr>             
                                {% endif %}


                            {% endif %}             


                  {% endif %}{#total#}


            {% endfor %} {#line in lines#}              




            </tbody>
            </table>



  {% endfor %} {#lines in item#}
</section>