{{ items.form }}
{{ items.excel|raw }}

<div id="" class='right'><a class='right' href='#' onclick="jQuery('#help').toggle('slow');">{{ 'help'|t }} <i class="far fa-question-circle"></i></a>
    <p class='left' id='help' style='display:none;'>
        {{ 'This report is not an accounting report.
        It is an analytic report that extract data per company based on business allocation.
        For instance you may issue an invoice with business entity A but allocate the value to another business entity B 
        (i.e profit center) for analytic purpose.
        Selecting "allocated" in the filter above means that data displyed are values allocated to this business entity (i.e. entity B);
        Selecting "actual" means that data shown are values attached to main entity (i.e entity A).'|t }}
    </p>
    
</div>
<table class='report'>   
        <colgroup/>
        <colgroup class="c1"/>
        <colgroup class="c2"/>
        <colgroup class="c3"/>
        <colgroup class="c4"/>
        <colgroup class="c5"/>
        <colgroup class="c6"/>
        <colgroup class="c7"/>
        <colgroup class="c8"/>
        <colgroup class="c9"/>
        <colgroup class="c10"/>
        <colgroup class="c11"/>
        <colgroup class="c12"/>
        <colgroup class="c13"/>
    <colgroup class="c14"/>
    <thead class=''>
        <th class='column_aid'>
            <a href='#balance' id='balance'>{{ 'Balances'|t }}</a> {{ items.year }} - {{ items.baseCurrency }} {{ items.budgetUnit }}
        </th>
        <th class='column_value'>{{ 'Jan'|t }}</th>
        <th class='column_value'>{{ 'Feb'|t }}</th>
        <th class='column_value'>{{ 'Mar'|t }}</th>
        <th class='column_value'>{{ 'Apr'|t }}</th>
        <th class='column_value'>{{ 'May'|t }}</th>
        <th class='column_value'>{{ 'Jun'|t }}</th>
        <th class='column_value'>{{ 'Jul'|t }}</th>
        <th class='column_value'>{{ 'Aug'|t }}</th>
        <th class='column_value'>{{ 'Sep'|t }}</th>
        <th class='column_value'>{{ 'Oct'|t }}</th>
        <th class='column_value'>{{ 'Nov'|t }}</th>
        <th class='column_value'>{{ 'Dec'|t }}</th>
        <th class='column_value'>{{ 'Total'|t }}</th>
    </thead>
    <tbody>
    <tr>
        <td class=''>{{ 'Gain/Loss'|t }}</td>
        <td class='right {% if items.balances.pl.1 < 0 %} red {% endif %}' >{{ items.balances.pl.1|number_format }}</td>
        <td class='right{% if items.balances.pl.2 < 0 %} red {% endif %}' >{{ items.balances.pl.2|number_format }}</td>
        <td class='right{% if items.balances.pl.3 < 0 %} red {% endif %}' >{{ items.balances.pl.3|number_format }}</td>
        <td class='right{% if items.balances.pl.4 < 0 %} red {% endif %}' >{{ items.balances.pl.4|number_format }}</td>
        <td class='right{% if items.balances.pl.5 < 0 %} red {% endif %}' >{{ items.balances.pl.5|number_format }}</td>
        <td class='right{% if items.balances.pl.6 < 0 %} red {% endif %}' >{{ items.balances.pl.6|number_format }}</td>
        <td class='right{% if items.balances.pl.7 < 0 %} red {% endif %}' >{{ items.balances.pl.7|number_format }}</td>
        <td class='right{% if items.balances.pl.8 < 0 %} red {% endif %}' >{{ items.balances.pl.8|number_format }}</td>
        <td class='right{% if items.balances.pl.9 < 0 %} red {% endif %}' >{{ items.balances.pl.9|number_format }}</td>
        <td class='right{% if items.balances.pl.10 < 0 %} red {% endif %}' >{{ items.balances.pl.10|number_format }}</td>
        <td class='right{% if items.balances.pl.11 < 0 %} red {% endif %}' >{{ items.balances.pl.11|number_format }}</td>
        <td class='right{% if items.balances.pl.12 < 0 %} red {% endif %}' >{{ items.balances.pl.12|number_format }}</td>
        <td class='total right{% if items.balances.pl.sumRow < 0 %} red {% endif %}' >{{ items.balances.pl.sumRow|number_format }}</td>
    </tr>  

    <tr>
        <td class=''><span title="{{ 'open invoices'|t }}">{{ 'Payments not yet received'|t }}</span></td>
        <td class='right'>{{ items.balances.inyr.1|number_format }}</td>
        <td class='right'>{{ items.balances.inyr.2|number_format }}</td>
        <td class='right' >{{ items.balances.inyr.3|number_format }}</td>
        <td class='right' >{{ items.balances.inyr.4|number_format }}</td>
        <td class='right' >{{ items.balances.inyr.5|number_format }}</td>
        <td class='right' >{{ items.balances.inyr.6|number_format }}</td>
        <td class='right' >{{ items.balances.inyr.7|number_format }}</td>
        <td class='right' >{{ items.balances.inyr.8|number_format }}</td>
        <td class='right' >{{ items.balances.inyr.9|number_format }}</td>
        <td class='right' >{{ items.balances.inyr.10|number_format }}</td>
        <td class='right' >{{ items.balances.inyr.11|number_format }}</td>
        <td class='right' >{{ items.balances.inyr.12|number_format }}</td>
        <td class='total right' >{{ items.balances.inyr.sumRow|number_format }}</td>
    </tr>

    <tr>
        <td class=''><span title="{{ 'closed invoices'|t }}">{{ 'Payments not received (short)'|t }}</span></td>
        <td class='right'>{{ items.balances.short.1|number_format }}</td>
        <td class='right'>{{ items.balances.short.2|number_format }}</td>
        <td class='right' >{{ items.balances.short.3|number_format }}</td>
        <td class='right' >{{ items.balances.short.4|number_format }}</td>
        <td class='right' >{{ items.balances.short.5|number_format }}</td>
        <td class='right' >{{ items.balances.short.6|number_format }}</td>
        <td class='right' >{{ items.balances.short.7|number_format }}</td>
        <td class='right' >{{ items.balances.short.8|number_format }}</td>
        <td class='right' >{{ items.balances.short.9|number_format  }}</td>
        <td class='right' >{{ items.balances.short.10|number_format  }}</td>
        <td class='right' >{{ items.balances.short.11|number_format  }}</td>
        <td class='right' >{{ items.balances.short.12|number_format }}</td>
        <td class='total right' >{{ items.balances.short.sumRow|number_format }}</td>
    </tr>
    <tr>
        <td class=''><span title="{{ 'provisions'|t }}">{{ 'Expenses not yet paid'|t }}</span></td>
        <td class='right'>{{ items.balances.enyp.1|number_format }}</td>
        <td class='right'>{{ items.balances.enyp.2|number_format }}</td>
        <td class='right' >{{ items.balances.enyp.3|number_format }}</td>
        <td class='right' >{{ items.balances.enyp.4|number_format }}</td>
        <td class='right' >{{ items.balances.enyp.5|number_format }}</td>
        <td class='right' >{{ items.balances.enyp.6|number_format }}</td>
        <td class='right' >{{ items.balances.enyp.7|number_format }}</td>
        <td class='right' >{{ items.balances.enyp.8|number_format }}</td>
        <td class='right' >{{ items.balances.enyp.9|number_format }}</td>
        <td class='right' >{{ items.balances.enyp.10|number_format }}</td>
        <td class='right' >{{ items.balances.enyp.11|number_format }}</td>
        <td class='right' >{{ items.balances.enyp.12|number_format }}</td>
        <td class='total right' >{{ items.balances.enyp.sumRow|number_format }}</td>
    </tr>
    
    <tr>
        <td class=''>{{ 'Internal payments received'|t }}</td>
        <td class='right' >{{ items.internal_received.0.1.1|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.2|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.3|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.4|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.5|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.6|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.7|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.8|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.9|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.10|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.11|number_format }}</td>
        <td class='right' >{{ items.internal_received.0.1.12|number_format }}</td>
        <td class='total right' >{{ items.internal_received.0.1.sumRow|number_format }}</td>
    </tr>
    <tr>
        <td class=''>{{ 'Internal payments paid'|t }}</td>
        <td class='right' >{{ items.internal_paid.0.1.1|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.2|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.3|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.4|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.5|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.6|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.7|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.8|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.9|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.10|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.11|number_format }}</td>
        <td class='right' >{{ items.internal_paid.0.1.12|number_format }}</td>
        <td class='total right' >{{ items.internal_paid.0.1.sumRow|number_format }}</td>
    </tr>

</tbody>

<thead class=''>
        <th class='column_aid header_th'>
            <a href=#purchases_data' id='purchases' onclick="jQuery('#purchases_data').toggle('slow');">{{ 'Purchases'|t }}</a> {{ items.year }} - {{ items.baseCurrency }} {{ items.budgetUnit }}
        </th>
        <th class='column_value header_th'>{{ 'Jan'|t }}</th>
        <th class='column_value header_th'>{{ 'Feb'|t }}</th>
        <th class='column_value header_th'>{{ 'Mar'|t }}</th>
        <th class='column_value header_th'>{{ 'Apr'|t }}</th>
        <th class='column_value header_th'>{{ 'May'|t }}</th>
        <th class='column_value header_th'>{{ 'Jun'|t }}</th>
        <th class='column_value header_th'>{{ 'Jul'|t }}</th>
        <th class='column_value header_th'>{{ 'Aug'|t }}</th>
        <th class='column_value header_th'>{{ 'Sep'|t }}</th>
        <th class='column_value header_th'>{{ 'Oct'|t }}</th>
        <th class='column_value header_th'>{{ 'Nov'|t }}</th>
        <th class='column_value header_th'>{{ 'Dec'|t }}</th>
        <th class='column_value header_th'>{{ 'Total'|t }}</th>
</thead>
    
<tbody id='purchases_data'>
{# loop class #}
    {% for arrays,values in items.purchases.0.classes %}
        <tr>
            <td colspan='3' class='detail'>{{ values.id }} {{ values.name }} </td>
            <td colspan='11'>
        </tr>

        {% for aid,value in values.rows %}    

            <tr class='data0'>
                <td class='left detail_aid'>{{ aid }}</td>
                <td class='right' >{{ value.1|number_format }}</td>
                <td class='right' >{{ value.2|number_format }}</td>
                <td class='right' >{{ value.3|number_format }}</td>
                <td class='right' >{{ value.4|number_format }}</td>
                <td class='right' >{{ value.5|number_format }}</td>
                <td class='right' >{{ value.6|number_format }}</td>
                <td class='right' >{{ value.7|number_format }}</td>
                <td class='right' >{{ value.8|number_format }}</td>
                <td class='right' >{{ value.9|number_format }}</td>
                <td class='right' >{{ value.10|number_format }}</td>
                <td class='right' >{{ value.11|number_format }}</td>
                <td class='right' >{{ value.12|number_format }}</td>
                <td class='total right' >{{ value.sumRow|number_format }}</td>
            </tr>

        {% endfor %}
        <tr>
            <td class='right subtotal'>{{ 'Sub total'|t }}</td>
            <td class='right subtotal'>{{ values.subTotal.1|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.2|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.3|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.4|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.5|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.6|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.7|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.8|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.9|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.10|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.11|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.12|number_format }}</td>
            <td class='subtotal right' >{{ values.subTotal.sumRow|number_format }}</td>
        </tr>

    {% endfor %}


</tbody>
<tbody>
    <tr>
        <td class='left grandtotal'>{{ 'Total'|t }} {{ 'purchases'|t }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.1|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.2|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.3|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.4|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.5|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.6|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.7|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.8|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.9|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.10|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.11|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.12|number_format }}</td>
        <td class='right grandtotal' >{{ items.purchases.0.total.sumRow|number_format }}</td>
    </tr>    
<tbody>

<thead class=''>
    <th class='column_aid header_th'>
        <a href='#expenses_data' id='expenses' onclick="jQuery('#expenses_data').toggle('slow');">{{ 'Expenses'|t }}</a> {{ items.year }} - {{ items.baseCurrency }} {{ items.budgetUnit }}
    </th>
    <th class='column_value header_th'>{{ 'Jan'|t }}</th>
    <th class='column_value header_th'>{{ 'Feb'|t }}</th>
    <th class='column_value header_th'>{{ 'Mar'|t }}</th>
    <th class='column_value header_th'>{{ 'Apr'|t }}</th>
    <th class='column_value header_th'>{{ 'May'|t }}</th>
    <th class='column_value header_th'>{{ 'Jun'|t }}</th>
    <th class='column_value header_th'>{{ 'Jul'|t }}</th>
    <th class='column_value header_th'>{{ 'Aug'|t }}</th>
    <th class='column_value header_th'>{{ 'Sep'|t }}</th>
    <th class='column_value header_th'>{{ 'Oct'|t }}</th>
    <th class='column_value header_th'>{{ 'Nov'|t }}</th>
    <th class='column_value header_th'>{{ 'Dec'|t }}</th>
    <th class='column_value header_th'>{{ 'Total'|t }}</th>
</thead>
<tbody id='expenses_data'>
    {# loop class #}
    {% for arrays,values in items.expenses.0.classes %}
        <tr>
            <td colspan='3' class='detail'>{{ values.id }} {{ values.name }} </td>
            <td colspan='11'>
        </tr>

        {% for aid,value in values.rows %}    

            <tr class='data0'>
                <td class='left detail_aid'>{{ aid|raw }}</td>
                <td class='right' >{{ value.1|number_format }}</td>
                <td class='right' >{{ value.2|number_format }}</td>
                <td class='right' >{{ value.3|number_format }}</td>
                <td class='right' >{{ value.4|number_format }}</td>
                <td class='right' >{{ value.5|number_format }}</td>
                <td class='right' >{{ value.6|number_format }}</td>
                <td class='right' >{{ value.7|number_format }}</td>
                <td class='right' >{{ value.8|number_format }}</td>
                <td class='right' >{{ value.9|number_format }}</td>
                <td class='right' >{{ value.10|number_format }}</td>
                <td class='right' >{{ value.11|number_format }}</td>
                <td class='right' >{{ value.12|number_format }}</td>
                <td class='total right' >{{ value.sumRow|number_format }}</td>
            </tr>

        {% endfor %}
        <tr>
            <td class='right subtotal'>{{ 'Sub total'|t }}</td>
            <td class='right subtotal'>{{ values.subTotal.1|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.2|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.3|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.4|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.5|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.6|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.7|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.8|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.9|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.10|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.11|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.12|number_format }}</td>
            <td class='subtotal right' >{{ values.subTotal.sumRow|number_format }}</td>
        </tr>

    {% endfor %}



</tbody>
<tbody>
    <tr>
        <td class='left grandtotal'>{{ 'Total'|t }} {{ 'expenses'|t }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.1|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.2|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.3|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.4|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.5|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.6|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.7|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.8|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.9|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.10|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.11|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.12|number_format }}</td>
        <td class='right grandtotal' >{{ items.expenses.0.total.sumRow|number_format }}</td>
    </tr>    
<tbody>

<thead class=''>
    <th class='column_aid header_th'>
        <a href='#income_data' id='income' onclick="jQuery('#income_data').toggle('slow');">{{ 'Income'|t }}</a> {{ items.year }} - {{ items.baseCurrency }} {{ items.budgetUnit }}
    </th>
    <th class='column_value header_th'>{{ 'Jan'|t }}</th>
    <th class='column_value header_th'>{{ 'Feb'|t }}</th>
    <th class='column_value header_th'>{{ 'Mar'|t }}</th>
    <th class='column_value header_th'>{{ 'Apr'|t }}</th>
    <th class='column_value header_th'>{{ 'May'|t }}</th>
    <th class='column_value header_th'>{{ 'Jun'|t }}</th>
    <th class='column_value header_th'>{{ 'Jul'|t }}</th>
    <th class='column_value header_th'>{{ 'Aug'|t }}</th>
    <th class='column_value header_th'>{{ 'Sep'|t }}</th>
    <th class='column_value header_th'>{{ 'Oct'|t }}</th>
    <th class='column_value header_th'>{{ 'Nov'|t }}</th>
    <th class='column_value header_th'>{{ 'Dec'|t }}</th>
    <th class='column_value header_th'>{{ 'Total'|t }}</th>
    </thead>
<tbody id='income_data'>
    {# loop class #}
    {% for arrays,values in items.income.0.classes %}
        <tr>
            <td colspan='3' class='detail'>{{ values.id }} {{ values.name }} </td>
            <td colspan='11'>
        </tr>

        {% for aid,value in values.rows %}    

            <tr class='data0'>
                <td class='left detail_aid'>{{ aid|raw }}</td>
                <td class='right' >{{ value.1|number_format }}</td>
                <td class='right' >{{ value.2|number_format }}</td>
                <td class='right' >{{ value.3|number_format }}</td>
                <td class='right' >{{ value.4|number_format }}</td>
                <td class='right' >{{ value.5|number_format }}</td>
                <td class='right' >{{ value.6|number_format }}</td>
                <td class='right' >{{ value.7|number_format }}</td>
                <td class='right' >{{ value.8|number_format }}</td>
                <td class='right' >{{ value.9|number_format }}</td>
                <td class='right' >{{ value.10|number_format }}</td>
                <td class='right' >{{ value.11|number_format }}</td>
                <td class='right' >{{ value.12|number_format }}</td>
                <td class='total right' >{{ value.sumRow|number_format }}</td>
            </tr>

        {% endfor %}
        <tr>
            <td class='right subtotal'>{{ 'Sub total'|t }}</td>
            <td class='right subtotal'>{{ values.subTotal.1|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.2|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.3|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.4|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.5|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.6|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.7|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.8|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.9|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.10|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.11|number_format }}</td>
            <td class='right subtotal'>{{ values.subTotal.12|number_format }}</td>
            <td class='subtotal right' >{{ values.subTotal.sumRow|number_format }}</td>
        </tr>

    {% endfor %}
</tbody>
<tbody>
    <tr>
        <td class='left grandtotal'>{{ 'Total'|t }} {{ 'income'|t }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.1|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.2|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.3|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.4|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.5|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.6|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.7|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.8|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.9|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.10|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.11|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.12|number_format }}</td>
        <td class='right grandtotal' >{{ items.income.0.total.sumRow|number_format }}</td>
    </tr>      
<tbody>
</table>
    
{% if items.error %}
    {{ 'Some accounts from allocation companies are not used or active in allocated 
        company chart. This may result in compilation errors. Please check the 
        following accounts for errors'|t }}:
    <ul>
    {% for key,aid in items.error %} 
        <li>{{ aid }}</li>
    {% endfor %}
    </ul>
    {% endif %}