<section class="filter">

{{ items.filter_trial }}

</section>

<div class='right' title='{{ 'Excel download'|t }}'>{{ items.excel|raw }}</div>


<section class="journal">

      <table id='table1' class='' >
      
        <thead class=''>
            <tr class='' style='font-weight: bold;'>
              <th >{{ 'Account'|t }}</th>
              <th class='font82'>
                <div style='display:block;' class='cursor'  onclick=\"jQuery('.base').toggle();jQuery('#desc-bar').toggleClass('closed');jQuery('#desc-bar').toggleClass('opened');\">
                <div id='desc-bar' class='opened' ></div><div style='display:inline;'>{{ items.data.baseCurrency }}</div>
                </div>
              </th>
              <th align=center>{{ 'Debit'|t }}</th>
              <th align=center>{{ 'Credit'|t }}</th>
              <th align=center>{{ 'Net'|t }}</th>
              <th align=center>{{ 'Year to date Debit'|t }}</th>
              <th align=center>{{ 'Year to date Credit'|t }}</th>
                     
              </tr></thead>
         <tbody class=''>

          {#total#}
              <tr class='journal-total ' >
                  <td colspan='2'>{{ 'TOTAL balance'|t }}</td>
                  <td class='right cellborder'>{{ items.data.total.transaction_debit | number_format(2) }}</td>
                  <td class='right cellborder'>{{ items.data.total.transaction_credit | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error1 == "1"  %} red {% endif %}'>{{ items.data.total.total_net | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error2 == "1"  %} red {% endif %}'>{{ items.data.total.transaction_ytd_debit | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error2 == "1"  %} red {% endif %}'>{{ items.data.total.transaction_ytd_credit | number_format(2) }}</td>
                  
                  </tr>

                  <tr class='journal-total'>
                  <td colspan='2'>{{ 'TOTAL balance'|t }} {{ items.data.baseCurrency }}</td>
                  <td class='right cellborder'>{{ items.data.total.transaction_debit_base | number_format(2) }}</td>
                  <td class='right cellborder'>{{ items.data.total.transaction_credit_base | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error1 == "1"  %} red {% endif %}'>{{ items.data.total.total_net_base | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error2 == "1"  %} red {% endif %}'>{{ items.data.total.transaction_ytd_debit_base | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error2 == "1"  %} red {% endif %}'>{{ items.data.total.transaction_ytd_credit_base | number_format(2) }}</td>
                  
                  </tr>
                 
          {% if  items.data.total.error1 == "1"  %}

                  <tr class=''>
                  <td colspan='2'>{{ 'Discerpancy'|t }}</td>
                  <td class='right red'>{{ (items.data.total.transaction_debit - items.data.total.transaction_credit) | number_format(2) }}</td>
                  <td></td>
                  <td></td>
                  <td class='right red'>{{ (items.data.total.transaction_debit_base - items.data.total.transaction_credit_base) | number_format(2) }}</td>
                  <td></td>
                  </tr>
   
          {% endif %}   
                   
          {# loop rows per account #}
          {% for key,row in items.data.transactions %}
          
              <tr class='{% if row.active == 0 %}red{% else %} {% endif %}'>
                  <td  class='' colspan='2' ><b>{{ row.aid|raw }} - {{ row.aname }}</b></td>
                  <td class='right'>{{ row.transaction_debit.0 | number_format(2) }}</td>
                  <td class='right'>{{ row.transaction_credit.0 | number_format(2) }}</td>
                  <td class='right'>{{ (row.transaction_credit.0-row.transaction_debit.0) | number_format(2) }}</td>
                  <td class='right'>{{ row.transaction_ytd_debit.0 | number_format(2) }}</td>
                  <td class='right'>{{ row.transaction_ytd_credit.0 | number_format(2) }}</td>
                  
              </tr>
              <tr class='journal-exchange {% if row.active == 0 %}red{% else %} {% endif %}'>
                  <td colspan='2'><span>{{ 'Exchange'|t }}</span> {{ items.data.baseCurrency }}</td>
                  <td class='right'>{{ row.transaction_debit.1 | number_format(2) }}</td>
                  <td class='right'>{{ row.transaction_credit.1 | number_format(2) }}</td>
                  <td class='right'>{{ (row.transaction_credit.1-row.transaction_debit.1) | number_format(2) }}</td>
                  <td class='right'>{{ row.transaction_ytd_debit.1 | number_format(2) }}</td>
                  <td class='right'>{{ row.transaction_ytd_credit.1 | number_format(2) }}</td>
                  
               </tr>  
                  
          {% endfor %}
          
          {#total#}
              <tr class='journal-total ' >
                  <td colspan='2'>{{ 'TOTAL balance'|t }}</td>
                  <td class='right cellborder'>{{ items.data.total.transaction_debit | number_format(2) }}</td>
                  <td class='right cellborder'>{{ items.data.total.transaction_credit | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error1 == "1"  %} red {% endif %}'>{{ items.data.total.total_net | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error2 == "1"  %} red {% endif %}'>{{ items.data.total.transaction_ytd_debit | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error2 == "1"  %} red {% endif %}'>{{ items.data.total.transaction_ytd_credit | number_format(2) }}</td>
                  
                  </tr>

                  <tr class='journal-total'>
                  <td colspan='2'>{{ 'TOTAL balance'|t }} {{ items.data.baseCurrency }}</td>
                  <td class='right cellborder'>{{ items.data.total.transaction_debit_base | number_format(2) }}</td>
                  <td class='right cellborder'>{{ items.data.total.transaction_credit_base | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error1 == "1"  %} red {% endif %}'>{{ items.data.total.total_net_base | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error2 == "1"  %} red {% endif %}'>{{ items.data.total.transaction_ytd_debit_base | number_format(2) }}</td>
                  <td class='right cellborder {% if  items.data.total.error2 == "1"  %} red {% endif %}'>{{ items.data.total.transaction_ytd_credit_base | number_format(2) }}</td>
                  
                  </tr>
                 
          {% if  items.data.total.error1 == "1"  %}

                  <tr class=''>
                  <td colspan='2'>{{ 'Discrepancy'|t }}</td>
                  <td class='right red'>{{ (items.data.total.transaction_debit - items.data.total.transaction_credit) | number_format(2) }}</td>
                  <td></td>
                  <td></td>
                  <td class='right red'>{{ (items.data.total.transaction_debit_base - items.data.total.transaction_credit_base) | number_format(2) }}</td>
                  <td></td>
                  </tr>
   
          {% endif %}          
         </tbody>
         </table>

</section>
{% if  items.error  %}         
    
    <a class='left' href='#table2' onclick="jQuery('#help').toggle('slow');">{{ 'Errors'|t }} <i class="far fa-question-circle"></i></a>
    <div class='left' id='help' style='display:none;'>
        {{ 'Unbalanced transactions'|t }}
        <table style='text-align: left; width: 95%;' id='table2'>
            <thead>
            <tr>
                <td>{{ 'id'|t }}</td>
                <td>{{ 'account'|t }}</td>
                <td>{{ 'type'|t }} </td>
                <td>{{ 'value'|t }}</td>
                <td>{{ 'record'|t }}</td>
                <td>{{ 'date'|t }}</td>
                <td>{{ 'comment'|t }}</td>
            </tr>                
            </thead>
            <tbody>
        {% for row in items.error.reference %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.aid }} {{ row.aname }}</td>
                <td>{{ row.type }} </td>
                <td>{{ row.value }}</td>
                <td>{{ row.source }} ({{ row.reference }})</td>
                <td>{{ row.date }}</td>
                <td>{{ row.comment }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            
        {{ 'Unactive account found in journal'|t }}
        <table style='text-align: left; width: 95%;' id='table2'>
            <thead>
            <tr>
                <td>{{ 'account'|t }}</td>
                <td>{{ 'status'|t }} </td>
            </tr>                
            </thead>
            <tbody>
        {% for row in items.error.account %}
            <tr>
                <td>{{ row.aid }}</td>
                <td>{{ row.status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>            
    </div>

{% endif %}
