<br/>
{{ items.form }}
<br/>
{{ items.pdf|raw }}


<table>
    <tr>
        <td rowspan='2' style='vertical-align:top; width:50%;'>
            {{ items.table_1|raw }}
            {{ items.table_4|raw }}
        </td>
        <td rowspan='2' style='vertical-align:top'>
            {{ items.table_2|raw }}
            {{ items.table_3|raw }}
        </td>
    </tr>
    
</table>






