<div>
{{ items.form }}
</div>
<div class="right">{{ items.pdf|raw }}</div>

<div>{{ items.table_5|raw }}</div>

<table>
    <tr>
        <td rowspan='2' style='vertical-align:top; width:50%;'>
            {# column left #}
            <table border=0 cellpadding=1 cellspacing=0>
                <thead class='' >
                    <th colspan='2'>{{ 'Income'|t }}</th>
                    <th>{{ 'Base currency'|t }} ({{ items.baseCurrency }})</th>
                    <th>{{ 'Multi currency'|t }}</th>
                </thead>
                <tbody class=''>
                    {% for classe in items.other_income %}
                        <tr class="head">
                            <td colspan='4' class='head_row'>{{ classe.aid }} {{ classe.name }}</td>
                        </tr>
                    
                        {% for key,detail in classe.class %}
                            <tr class="classe">
                                <td colspan="4" class='classe_row'>{{ detail.aid }} {{ detail.name }}</td>
                            </tr>
                            {% for aid,data in detail.data %}
                                {% if aid != 'total' %}
                                    <tr class="detail">
                                        <td class="detail_row"><a class='use-ajax' href='{{ data.url }}'>{{ aid }}</a></td>
                                        <td>{{ data.name }}</td>
                                        <td class="right">{{ data.base|number_format(2) }}</td>
                                        <td class="right">{{ data.multi|number_format(2) }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="subtotal">
                                        <td colspan="2" class="detail_row">{{ 'Sub Total'|t }} {{ data.aid }} {{ data.name }} </td>
                                        <td class="right">{{ data.base|number_format(2) }}</td>
                                        <td class="right">{{ data.multi|number_format(2) }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}


                        {% endfor %}

                    {% endfor %}
                    {% if items.other_income.header.aid > 0 %}
                    <tr class='total'>
                        <td colspan="2" class='head_row'>{{ 'Total'|t }} {{ items.other_income.header.aid }} {{ items.other_income.header.name }}</td>
                        <td class="right">{{ items.other_income.header.total.base|number_format(2) }}</td>
                        <td class="right">{{ items.other_income.header.total.multi|number_format(2) }}</td>
                    </tr>
                    {% endif %}

                    {% for classe in items.income %}
                        <tr class="head">
                            <td colspan='4' class='head_row'>{{ classe.aid }} {{ classe.name }}</td>
                        </tr>

                        {% for key,detail in classe.class %}
                            <tr class="classe">
                                <td colspan="4" class='classe_row'>{{ detail.aid }} {{ detail.name }}</td>
                            </tr>
                            {% for aid,data in detail.data %}
                                {% if aid != 'total' %}
                                    <tr class="detail">
                                        <td class="detail_row"><a class='use-ajax' href='{{ data.url }}'>{{ aid }}</a></td>
                                        <td>{{ data.name }}</td>
                                        <td class="right">{{ data.base|number_format(2) }}</td>
                                        <td class="right">{{ data.multi|number_format(2) }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="subtotal">
                                        <td colspan="2" class="detail_row">{{ 'Sub Total'|t }} {{ data.aid }} {{ data.name }} </td>
                                        <td class="right">{{ data.base|number_format(2) }}</td>
                                        <td class="right">{{ data.multi|number_format(2) }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                        {% endfor %}

                    {% endfor %}    
                    <tr class='total'>
                        <td colspan="2" class='head_row'>{{ 'Total'|t }} {{ items.income.header.aid }} {{ items.income.header.name }}</td>
                        <td class="right">{{ items.income.header.total.base|number_format(2) }}</td>
                        <td class="right">{{ items.income.header.total.multi|number_format(2) }}</td>
                    </tr>
                    <tr class='grandtotal'>
                        <td>{{ 'Grand total'|t }}</td>
                        <td>{{ 'Income'|t }}</td>
                        <td class="right">{{ items.total_income.base|number_format(2) }}</td>
                        <td class="right">{{ items.total_income.multi|number_format(2) }}</td>
                    </tr>
                </tbody>
            </table>
            
            {#Result#}
            {% set addClass = '' %}
            {% if items.result.base < 0 %}
                {% set addClass = 'red' %}
                {% endif %}
            <table border=0 cellpadding=1 cellspacing=0>
                <tbody>
                    <tr class='netasset'>
                        <td colspan='1'>{{ 'Profit'|t }} (<span class='red'>{{ 'Loss'|t }}</span>)</td>
                        <td class="right {{ addClass }}">{{ items.result_base|number_format(2) }}</td>
                        <td class="right {{ addClass }}">{{ items.result_multi|number_format(2) }}</td>
                    </tr>
                </tbody>
            </table>
            
            
            
            
            
            
            
            
        </td>
        <td rowspan='2' style='vertical-align:top'>
            {# column right #}
            
            {#cos table#}
            <table border=0 cellpadding=1 cellspacing=0>
                <thead class='' >
                    <th colspan='2'>{{ 'Cost of sales'|t }}</th>
                    <th>{{ 'Base currency'|t }} ({{ items.baseCurrency }})</th>
                    <th>{{ 'Multi currency'|t }}</th>
                </thead>
                <tbody class=''>
                    {% for classe in items.cos %}
                        <tr class="head">
                            <td  colspan='4' class='head_row'>{{ classe.aid }} {{ classe.name }}</td>
                        </tr>

                        {% for key,detail in classe.class %}
                            <tr class="classe">
                                <td colspan="4" class='classe_row'>{{ detail.aid }} {{ detail.name }}</td>
                            </tr>
                            {% for aid,data in detail.data %}
                                {% if aid != 'total' %}
                                    <tr class="detail">
                                        <td class="detail_row"><a class='use-ajax' href='{{ data.url }}'>{{ aid }}</a></td>
                                        <td>{{ data.name }}</td>
                                        <td class="right">{{ data.base|number_format(2) }}</td>
                                        <td class="right">{{ data.multi|number_format(2) }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="subtotal">
                                        <td colspan="2" class="detail_row">{{ 'Sub Total'|t }} {{ data.aid }} {{ data.name }} </td>
                                        <td class="right">{{ data.base|number_format(2) }}</td>
                                        <td class="right">{{ data.multi|number_format(2) }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}


                        {% endfor %}

                    {% endfor %}
                    
                    <tr class='grandtotal'>
                        <td>{{ 'Grand total'|t }}</td>
                        <td>{{ 'Cost of sales'|t }}</td>
                        <td class="right">{{ items.cos.header.total.base|number_format(2) }}</td>
                        <td class="right">{{ items.cos.header.total.multi|number_format(2) }}</td>
                    </tr>
                </tbody>
            </table>{#/cos table#}                 
            
            {#expenses table#}
            <table border=0 cellpadding=1 cellspacing=0>
                <thead class='' >
                    <th colspan='2'>{{ 'Charges'|t }}</th>
                    <th>{{ 'Base currency'|t }} ({{ items.baseCurrency }})</th>
                    <th>{{ 'Multi currency'|t }}</th>
                </thead>
                <tbody class=''>
                    {% for classe in items.other_expenses %}
                        <tr class="head">
                            <td colspan='4' class='head_row'>{{ classe.aid }} {{ classe.name }}</td>
                        </tr>
                    
                        {% for key,detail in classe.class %}
                            <tr class="classe">
                                <td colspan="4" class='classe_row'>{{ detail.aid }} {{ detail.name }}</td>
                            </tr>
                            {% for aid,data in detail.data %}
                                {% if aid != 'total' %}
                                    <tr class="detail">
                                        <td class="detail_row"><a class='use-ajax' href='{{ data.url }}'>{{ aid }}</a></td>
                                        <td>{{ data.name }}</td>
                                        <td class="right">{{ data.base|number_format(2) }}</td>
                                        <td class="right">{{ data.multi|number_format(2) }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="subtotal">
                                        <td colspan="2" class="detail_row">{{ 'Sub Total'|t }} {{ data.aid }} {{ data.name }} </td>
                                        <td class="right">{{ data.base|number_format(2) }}</td>
                                        <td class="right">{{ data.multi|number_format(2) }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                        {% endfor %}

                    {% endfor %}
                    
                    {% if items.other_expenses.header.aid > 0 %}
                    <tr class='total'>
                        <td colspan="2" class='head_row'>{{ 'Total'|t }} {{ items.other_expenses.header.aid }} {{ items.other_expenses.header.name }}</td>
                        <td class="right">{{ items.other_expenses.header.total.base|number_format(2) }}</td>
                        <td class="right">{{ items.other_expenses.header.total.multi|number_format(2) }}</td>
                    </tr>
                    {% endif %}

                    {% for classe in items.expenses %}
                        <tr class="head">
                            <td colspan='4' class='head_row'>{{ classe.aid }} {{ classe.name }}</td>
                        </tr>

                        {% for key,detail in classe.class %}
                            <tr class="classe">
                                <td colspan="4" class='classe_row'>{{ detail.aid }} {{ detail.name }}</td>
                            </tr>
                            {% for aid,data in detail.data %}
                                {% if aid != 'total' %}
                                    <tr class="detail">
                                        <td class="detail_row"><a class='use-ajax' href='{{ data.url }}'>{{ aid }}</a></td>
                                        <td>{{ data.name }}</td>
                                        <td class="right">{{ data.base|number_format(2) }}</td>
                                        <td class="right">{{ data.multi|number_format(2) }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="subtotal">
                                        <td colspan="2" class="detail_row">{{ 'Sub Total'|t }} {{ data.aid }} {{ data.name }} </td>
                                        <td class="right">{{ data.base|number_format(2) }}</td>
                                        <td class="right">{{ data.multi|number_format(2) }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                        {% endfor %}

                    {% endfor %}    
                    <tr class='total'>
                        <td colspan="2" class='head_row'>{{ 'Total'|t }} {{ items.expenses.header.aid }} {{ items.expenses.header.name }}</td>
                        <td class="right">{{ items.expenses.header.total.base|number_format(2) }}</td>
                        <td class="right">{{ items.expenses.header.total.multi|number_format(2) }}</td>
                    </tr>
                    <tr class='grandtotal'>
                        <td>{{ 'Grand total'|t }}</td>
                        <td>{{ 'Expenses'|t }}</td>
                        <td class="right">{{ items.total_expenses.base|number_format(2) }}</td>
                        <td class="right">{{ items.total_expenses.multi|number_format(2) }}</td>
                    </tr>
                </tbody>
            </table>            
            
            
        </td>
    </tr>
    
</table>






