{#
/**
 * @file
 * Default theme implementation for rendering document list in sales data page
 *
 *
 * Available items:
 *   fid (bol) file status
 *   uri (string)
 *   extension (sting)
 *   icon_path (sting)
 *   icon (bol)
 *   delete (bol)
 *   doc_name (string)
 *   date
 *   size
 *   file_url
 *   delete_url
 *   access_url
 *   comment (string)
 *
 *
 * @see ek_sales_doc_view
 *
 * @ingroup themeable
 */
#}

{% for key, item in items %}

    {% if item.fid == 1 %}
        <tr id='row{{ item.id }}'>
            <td title='{{ item.doc_name }} |  {{ item.date }} , {{ item.size }}'>
                <IMG src='../../{{ item.icon_path }}{{item.icon}}.png'/> 
                <a href="{{ item.file_url }}" target='_blank' >{{ item.doc_name }}</a>
            </td>
            <td>{{ item.comment }}</td>
            {% if item.delete == 1 %}
                <td style="text-align: center;"><a id='sd{{ item.id }}' href="{{ item.delete_url }}" class='use-ajax red' title={{'delete the file'|t }} >
                        <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i></a></td>
            {% else %}
                <td style="text-align: center;"><i class="fa fa-lg fa-trash" aria-hidden="true"></td>
            {% endif %}

            {% if item.access_url != '0' %}
                <td style="text-align: center;"><a href="{{ item.access_url }}" class='use-ajax red' title={{'manage access by users'|t }} >
                        <i class="fa fa-lg fa-lock" aria-hidden="true"></i></a></td>
                    {% else %}
                <td style="text-align: center;"><i class="fa fa-lg fa-lock" aria-hidden="true"></i></td>
            {% endif %}

            
        </tr>
    {% else %}
        <tr class="hide">
            <td>
                <IMG src='../../{{ item.icon_path }}{{item.icon}}.png'/> 
                {{ item.doc_name }}
            </td>
            <td>{{ item.comment }}</td>
            <td style="text-align: center;"><i class="fa fa-lg fa-trash-o" aria-hidden="true"></td>
            <td></td>
            
            
        </tr>
        {% endif %}

{% endfor %}

